name: Build and Push Docker Image to Quay.io

on:
  release:
    types: [published]

jobs:
  docker-publish:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            quay.io/${{ secrets.QUAY_USERNAME }}/preface:latest
            quay.io/${{ secrets.QUAY_USERNAME }}/preface:${{ github.event.release.tag_name }}
